<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohannad.coupon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
         Set custom default icon. This is used when no icon is set for incoming notification messages.
         See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/img_splash" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.NotificationsMessagingService"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.ui.deal.DealCouponsActivity"
            android:label="@string/coupon"
            android:parentActivityName=".view.ui.deal.DealCouponsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.deal.DealCouponsActivity" />
        </activity>
        <activity
            android:name=".view.ui.splash.LanguageAndCountryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.image.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.search.SearchActivity"
            android:label="@string/results"
            android:parentActivityName=".view.ui.search.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.search.SearchActivity" />
        </activity>
        <activity
            android:name=".view.ui.video.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.product.ProductsActivity"
            android:label="@string/products"
            android:parentActivityName=".view.ui.product.ProductsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.product.ProductsActivity" />
        </activity>
        <activity
            android:name=".view.ui.webview.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.usedcoupon.UsedCouponActivity"
            android:label="@string/used_coupons"
            android:parentActivityName=".view.ui.usedcoupon.UsedCouponActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.usedcoupon.UsedCouponActivity" />
        </activity>
        <activity
            android:name=".view.ui.auth.changepassword.ChangePasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName=".view.ui.auth.changepassword.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.auth.changepassword.ChangePasswordActivity" />
        </activity>
        <activity
            android:name=".view.ui.setting.SettingActivity"
            android:label="@string/setting_app"
            android:parentActivityName=".view.ui.setting.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.setting.SettingActivity" />
        </activity>
        <activity
            android:name=".view.ui.contactus.ContactUsActivity"
            android:label="@string/contact_us"
            android:parentActivityName=".view.ui.contactus.ContactUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.contactus.ContactUsActivity" />
        </activity>
        <activity
            android:name=".view.ui.help.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".view.ui.help.HelpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.help.HelpActivity" />
        </activity>
        <activity
            android:name=".view.ui.auth.signup.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.auth.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.splash.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.main.MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
    </application>

</manifest>